*{
    margin: 0px;
    padding: 1px;
    background-color:white;
}
.img{
    width: 150px;
    padding: 0 100px;
   
}
.img1{
    width: auto;
    height: 650px;
}
.img2{
    width: 200px;
    height: 200px;
}
.img3{
    width: 300px;
    height: 300px;
}
.container{
    max-width: 100vw;
}
.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{width: 50%;
         padding: 12px 0;}
.topright{width: 50%;
          padding:12px 0 ;}
.section2{
    padding-left: 63px;
    padding-right: 63px;

          }
.section3{
    padding-top: 50px;
     padding-left: 63px;
     padding-right: 63px;
        
                  }
.section2 h1{
   font-size: 1.6rem;
}
.box{
    margin: 12px 22px;
    border: solid 2px hotpink;
}
.border{
    background-color:hotpink;
    color: white;
    height: 20px;
    font-weight: bold;
    text-align: center;
}
footer{
    padding: 23px;
    text-align: center;
    background-color: hotpink;
}
.form-container{ background-color: white;
    text-align: center;
    padding: 30px;}

input{
width: 200px;
margin: 10px 0px;
padding: 10px;
}
input[type = 'submit']{
width: 220px;
background-color: hotpink;
color: white;
border: 0px;
}
